/* style.css */
body {
    font-family: Arial, sans-serif;
    margin: 20px;
    background-color: #000000;
    color: #333;
}

/* Style for h1 */
h1 {
    font-family: "Lulo";
    color: #ffffff;
    /* red tone */
    text-align: center;
    /* center on page */
    font-size: 4rem;
    margin-bottom: 15px;
}

/* Style for paragraph */
p {
    font-family: "Lulo";
    color: #ffffff;
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;

}

@font-face {
    font-family: 'Lulo';
    src: url('fonts/Lulo.ttf') format('truetype');
}

body {
    font-family: 'Lulo', sans-serif;
}